.bar {
  height: 95px;
  width: 816px;
  border-radius: 12px;
  background-color: #FFF;
  margin: 0 auto;
}

.barList {
  display: flex;
  flex-direction: row;
  /* padding: 6px 16px; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}