.header {
  width: 1576px;
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  margin: 0 auto;
}

.headerList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.headerList:not(:last-child) {
  margin-right: 20px;
}

.headerListButtons {
  height: 56px;
  width: 56px;
}

.cartButton, .telephone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  border: none;
  border-radius: 12px;
  border: 1px solid #D2D2D7;
}